html,
body {
  height: 100%;
  overflow-x: hidden;
}

.border-green {
  border: 2px mediumseagreen solid;
}

.border-bottom-green{
  border-bottom:2px mediumspringgreen dotted
}

.bg-green {
  background-color: mediumspringgreen; /* rgb(54,234,127) */
}
.bg-silver {
  background-color: rgb(243, 243, 243);
}

.bg-black{
  background-color: black;
}

.bg-trans {
  background: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 768px) {
  .bgimg-cover {
    background-image: url("../img/header-min.jpg");
    background-size: cover;
  }
  .bg-trans {
    background: #343a40;
  }
}
.txt-green {
  color: mediumspringgreen;
}

.nav-link {
  margin-right: 0.2em;
}
.nav-link:hover,
.nav-link.active {
  border-bottom: 4px mediumspringgreen solid;
  cursor: crosshair;
}

.btn:hover {
  background-color: mediumspringgreen;
  color: white;
}

.img-card {
  height: 140px;
  width: 140px;
  object-fit: cover;
  max-height: 100%;
  border: 4px solid silver;
  border-radius: 50%;
}
.bgimg-cover {
  background-image: url("../img/header.jpg");
  background-size: cover;
}

.opacity50{
  opacity:0.5;
}
.bgimg-work {
  background-image: url("../img/work-together.jpg");
  background-size: cover;
}

.card-date{
  width:58px;
}

.shadow-dark{
  box-shadow: 4px 4px 10px 4px black;  
}
.rotateup{
  transform: rotate(-45deg);
}
.goup{
  transform: rotate(45deg);
  background: gray;
  color:springgreen;
  position: absolute;
  height: 50px;
  width: 50px;
  bottom:30%;
  right:2%;
}


